
.conteiner-meals {
    position: relative;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.conteiner-meals .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.conteiner-meals .card:nth-child(even) {
    flex-direction: column-reverse;

}

.conteiner-meals .card .imgBox {
    position: relative;
    width: 250px;
    height: 250px;
    background: #000;
}

.conteiner-meals .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteiner-meals .card .content {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-meals .card .content div {
     padding: 2px;
     text-align: center;
}

.conteiner-meals .card .content p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;  /* Number of lines displayed before it truncate */
         overflow: hidden;
}

.conteiner-meals .card .content .buyButton {
    position: relative;
    cursor: pointer;
    background-color: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 9px;
    
}

.conteiner-meals .card .content .buyButton:hover {
    background-color: #ff568c;
}