.notification {
    position: relative;
    z-index: 10;
    top: 6rem;
    right: 5rem;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    display: none;
}

.loadingBox {
    background: rgb(0, 0, 0);
}

.infoBox {
    background: #393;
}

.errorBox {
    background: #F50;
}